# Variables:

### Working with Strings!

In [13]:
print("Heeeellooo World")

Heeeellooo World

In [14]:
msg = "I am reviewing"
print(msg)

I am reviewing

In [15]:
msg_2 = 'I lost my dog\'s bag'
print(msg_2)

I lost my dog's bag

In [16]:
msg_3 = """I lost my dog's bag!
I dont know where to find it!
It's so frustrating!"""
print(msg_3)

I lost my dog's bag!
I dont know where to find it!
It's so frustrating!

In [17]:
print(len(msg_3))

71

In [18]:
print(msg_3[50:])

It's so frustrating!

In [19]:
print(msg_3.lower())

i lost my dog's bag!
i dont know where to find it!
it's so frustrating!

In [20]:
print(msg_3.upper())

I LOST MY DOG'S BAG!
I DONT KNOW WHERE TO FIND IT!
IT'S SO FRUSTRATING!

In [21]:
print(msg_3.count("w"))

2

In [22]:
print(msg_3.lower().count("i"))

6

In [23]:
print(msg_3.find("bag"))

16

In [24]:
print(msg_3.find("hi"))

-1

In [25]:
print(msg_3.replace("dog", "cat"))

I lost my cat's bag!
I dont know where to find it!
It's so frustrating!

In [26]:
name = "Sara"
app_name = "Youtube" 


message = "Hi Sara, Welcome to Youtube"
message_1 = "Hi " + name + "," + " Welcome to " + app_name
# fomatted string:
message_2 = f"Hi {name}, Welcome to {app_name}"
print(message)
print(message_1)
print(message_2)

Hi Sara, Welcome to Youtube
Hi Sara, Welcome to Youtube
Hi Sara, Welcome to Youtube

In [27]:
print(app_name[-1])

e

### Working with Numerical Variables!

In [28]:
#int
a = 4

#float
b = 10.23

In [29]:
print(type(a))

<class 'int'>

In [30]:
w = "30"
print(type(w))

<class 'str'>

In [31]:
print(type(int(w)))

<class 'int'>

In [32]:
# + - * / // % **
x = 500
y = 200
print(x / y)
print(x // y)
print(x % y)
print((x // y)**3)

# % ---> used for odd and even numbers

2.5
2
100
8

In [33]:
print(round(b))

10

In [34]:
c = 5.73
print(round(c))

6

In [35]:
import math

print(math.floor(c))
print(math.ceil(c))

5
6

In [36]:
i = 0
i = i + 1
print(i)

1

In [37]:
j = 0
j =+ 5
print(j)

5

In [38]:
i == j

False

In [39]:
i != j

True

In [40]:
i < j

True

In [41]:
i >= j

False

### Working with Lists, Tuples and Sets!

In [42]:
# Lists -> [], a one dimensional array of elements
# In Lists, order is important and they are mutable

color = ["red", "green", "blue", "yellow", "Black"]
num = [10, 14, 18, 22, 50, 67, 90]

In [43]:
len(num)

7

In [44]:
color[0]

'red'

In [45]:
color[-1]

'Black'

In [46]:
num[2:5]

[18, 22, 50]

In [47]:
num[-2]

67

In [48]:
print(color)

['red', 'green', 'blue', 'yellow', 'Black']

In [49]:
color.append("white") # added to the end
print(color)

['red', 'green', 'blue', 'yellow', 'Black', 'white']

In [50]:
color.insert(2, "pink") # added to the given index
print(color)

['red', 'green', 'pink', 'blue', 'yellow', 'Black', 'white']

In [51]:
colors = ["purple", "brown"]
color.extend(colors) # added to the list
print(color)

['red', 'green', 'pink', 'blue', 'yellow', 'Black', 'white', 'purple', 'brown']

In [52]:
color.pop() # delete from the list - defult the last one
print(color)

['red', 'green', 'pink', 'blue', 'yellow', 'Black', 'white', 'purple']

In [53]:
deleted = num.pop()
print(deleted)

90

In [54]:
numbers = [45, 2, 75, 66]
numbers.sort()

In [55]:
print(numbers)

[2, 45, 66, 75]

In [56]:
numbers.reverse()

In [57]:
print(numbers)

[75, 66, 45, 2]

In [58]:
numbers.sort(reverse = True) #better
print(numbers)

[75, 66, 45, 2]

In [59]:
colors_sorted = sorted(colors)

In [60]:
print(colors_sorted)

['brown', 'purple']

In [61]:
for c in color:
    print(c)

red
green
pink
blue
yellow
Black
white
purple

In [62]:
for c in color:
    print(c.count("r"))

1
1
0
0
0
0
0
1

In [63]:
for c in color:
    print(len(c))

3
5
4
4
6
5
5
6

In [64]:
print("grey" in color)

False

In [65]:
for index, c in enumerate(color):
    print(index, c)

0 red
1 green
2 pink
3 blue
4 yellow
5 Black
6 white
7 purple

In [66]:
msg = "/".join(color) # gives a single string
print(msg)

red/green/pink/blue/yellow/Black/white/purple

In [67]:
msg.split("/") # gives a splitted list

['red', 'green', 'pink', 'blue', 'yellow', 'Black', 'white', 'purple']

In [68]:
# Tuples -> () are immutable

color_t = ('Black', 'blue', 'green', 'pink', 'red', 'yellow')
print(type(color_t))

<class 'tuple'>

In [69]:
color[2] = "sabz"
print(color)

['red', 'green', 'sabz', 'blue', 'yellow', 'Black', 'white', 'purple']

In [70]:
# color_t[2] = "sabz"
# print(color_t) ---> TypeError: 'tuple' object does not support item assignment

In [71]:
len(color_t)

6

In [72]:
# what are the inst.?
print(dir(color_t))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [73]:
color_t.count("blue")

1

In [74]:
color_t.index("blue")

1

In [75]:
print(color_t)

('Black', 'blue', 'green', 'pink', 'red', 'yellow')

In [76]:
# Sets -> {}, order is not important and set deletes the duplicated items

fruits = {"apple", "banana", "watermelon", "apple"}
print(len(fruits))

3

In [77]:
n = [4, 6, 4, 8, 3, 9, 4]
print(len(n))
print(len(set(n)))

7
5

In [78]:
color_set1 = {"green", "yellow", "red", "white"}
color_set2 = {"blue", "red", "white"}

print(color_set1.union(color_set2))
print(color_set1.intersection(color_set2))
print(color_set1.difference(color_set2))
print(color_set2.difference(color_set1))

{'green', 'white', 'yellow', 'red', 'blue'}
{'white', 'red'}
{'green', 'yellow'}
{'blue'}

In [79]:
"""
define list:
num_list = []
num_list = list()

define tuple:
num_tup = ()
num_tup = tuple()

define set:
num_set = {} # does not give you a dictionary
num_set = set()

define dictionary:
num_dic = {} # gives you a dictionary
num_dic = dict()

"""

'\ndefine list:\nnum_list = []\nnum_list = list()\n\ndefine tuple:\nnum_tup = ()\nnum_tup = tuple()\n\ndefine set:\nnum_set = {} # does not give you a dictionary\nnum_set = set()\n\ndefine dictionary:\nnum_dic = {} # gives you a dictionary\nnum_dic = dict()\n\n'

### Working with Dictionaries!

In [80]:
# Dictionaries -> {}
# Key: Value

car = {"brand": "Ford", "model": "Mustang", 
       "year": 1965, "colors": ["red", "blue"]}

In [81]:
print(car["year"])

1965

In [82]:
print(car.get("city"))
print(car.get("city", "Not Available"))

None
Not Available

In [83]:
car["year"] = 1960
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1960, 'colors': ['red', 'blue']}

In [84]:
car["city"] = "Tehran"

In [85]:
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1960, 'colors': ['red', 'blue'], 'city': 'Tehran'}

In [86]:
car.update({"year": 1950, "city": "Yazd"})
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1950, 'colors': ['red', 'blue'], 'city': 'Yazd'}

In [87]:
del car["colors"]
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1950, 'city': 'Yazd'}

In [88]:
model = car.pop("model")
print(model)
print(car)

Mustang
{'brand': 'Ford', 'year': 1950, 'city': 'Yazd'}

In [89]:
print(len(car))

3

In [90]:
print(car.keys())

dict_keys(['brand', 'year', 'city'])

In [91]:
print(car.values())

dict_values(['Ford', 1950, 'Yazd'])

In [92]:
print(car.items())

dict_items([('brand', 'Ford'), ('year', 1950), ('city', 'Yazd')])

In [93]:
for key, item in car.items():
    print(key, "----->", item)

brand -----> Ford
year -----> 1950
city -----> Yazd

In [94]:
print(type(item))

<class 'str'>

In [95]:
for item in car.items():
    print(item)

('brand', 'Ford')
('year', 1950)
('city', 'Yazd')

In [96]:
print(type(item))

<class 'tuple'>

# Conditions:

In [97]:
# if ... :
# elif ...:
# else:

con = True

if con:
    print("YEAH Baby")

YEAH Baby

In [98]:
con = False

if con:
    print("YEAH Baby")
else:
    print("Sorry!")

Sorry!

In [99]:
x = 22

# and, or 
if x == 20 or 22:
    print("Yup!")
else:
    print("Nope!")

Yup!

In [100]:
x = 22

# and, or 
if x >= 20:
    print(x+2)
else:
    print(x-2)

24

In [101]:
x = 22

# and, or 
if x <20:
    print(x+2)
elif 20 < x < 25:
    print(x+1)
else:
    print(x-2)

23

In [102]:
x = 22
w = x
print(w == x)
print(w is x)

True
True

In [103]:
g = 22
q = 22
print(g == q)

True

In [104]:
print(g is q) # ---> False

True

In [105]:
print(id(g))

140721208093784

In [106]:
print(id(q))

140721208093784

In [107]:
x = None

if x:
    print("x+2")
else:
    print("x-2")

x-2

In [108]:
x = 0

if x:
    print("x+2")
else:
    print("x-2")

x-2

In [109]:
x = 8

if x:
    print("x+2")
else:
    print("x-2")

x+2

In [110]:
x = []

if x:
    print("x+2")
else:
    print("x-2")

x-2

In [111]:
x = [1]

if x:
    print("x+2")
else:
    print("x-2")

x+2

In [112]:
name = "Zina"

if name == "zina":
    print("OK")
else:
    print("pffff")

pffff

In [113]:
name = "Zina"

if name.lower() == "zina":
    print("OK")
else:
    print("pffff")

OK

# Loops:

In [114]:
# for
# while

In [115]:
num = [1,2,3,4,5,6]

for number in num:
    print(number**2)

1
4
9
16
25
36

In [116]:
# break: when the condition is met it breaks the loop

num = [1,2,3,4,5,6]

for number in num:
    if number == 5:
        break
    print(number**2)

1
4
9
16

In [117]:
# continue: even when the condition is met the loop is continued
# good for passing errors

num = [1,2,3,4,5,6]

for number in num:
    if number == 5:
        continue
    print(number**2)

1
4
9
16
36

In [118]:
num = [1,2,3,4]
item = ["ball", "doll", "car"]

for number in num:
    for items in item:
        print(number, items)

1 ball
1 doll
1 car
2 ball
2 doll
2 car
3 ball
3 doll
3 car
4 ball
4 doll
4 car

In [119]:
num = [1,2,3,4]

for number in num:
    for s in "sry":
        print(number, s)

1 s
1 r
1 y
2 s
2 r
2 y
3 s
3 r
3 y
4 s
4 r
4 y

In [120]:
for ii in range(1,11):
    print(ii)

1
2
3
4
5
6
7
8
9
10

In [121]:
x = 2
for ii in range(3):
    x = x*x
    print(x)

4
16
256

In [122]:
# while condition:
    # doing sth

x=5
while x<60:
    print(x)
    if x == 40:
        print("Whats up man?")
        break
    x+=5

5
10
15
20
25
30
35
40
Whats up man?

In [123]:
x=3
while True:
    print(x)
    if x == 18:
        print("Whats up man?")
        break
    x+=5

3
8
13
18
Whats up man?

**Watch out for Infinite Loops!**

# Functions:

In [124]:
# def function_name(): ---> (args)=input / with/without return

car_colors = {1: "blue", 2: "red", 3: "green"}

def car_color_print():
    print("Car Color")

car_color_print()

Car Color

In [125]:
car_colors = {1: "blue", 2: "red", 3: "green"}

def car_color_print():
    msg = "Car Color hehe"
    return msg

my_msg = car_color_print()

In [126]:
print(my_msg)

Car Color hehe

In [127]:
print(car_color_print())

Car Color hehe

In [128]:
car_colors = {1: "blue", 2: "red", 3: "green"}

def car_color_print(num):
    car_color = car_colors[num]
    # msg = "Car Color: " + car_color
    # msg = f"Car Color: {car_color}"
    return f"Car Color: {car_color}"

In [129]:
print(car_color_print(3))

Car Color: green

In [130]:
car_colors = {1: "blue", 2: "red", 3: "green"}

def car_color_print(num, intro_text="Hello"):
    car_color = car_colors[num]
    return f"{intro_text}, Car Color: {car_color}"

In [131]:
print(car_color_print(1))

Hello, Car Color: blue

In [132]:
print(car_color_print(1, "Hi"))

Hi, Car Color: blue

In [133]:
def car_info(*args, **kwargs):
    print(args)
    print(kwargs)

In [134]:
car_info() 
# tuple
# dictionary

()
{}

In [135]:
car_info("Tehran", "Paris", brand="Ford", model="Mustang")

('Tehran', 'Paris')
{'brand': 'Ford', 'model': 'Mustang'}

In [136]:
cities = ["Tehran", "Paris"]
specs = {"brand":"Ford", "model":"Mustang"}

car_info(cities, specs)

(['Tehran', 'Paris'], {'brand': 'Ford', 'model': 'Mustang'})
{}

In [137]:
cities = ["Tehran", "Paris"]
specs = {"brand":"Ford", "model":"Mustang"}

car_info(*cities, **specs)

('Tehran', 'Paris')
{'brand': 'Ford', 'model': 'Mustang'}

 # Read and Write in Files:

In [142]:
# r=read, w=write, a=append, r+=read+write 
data = open("items.txt", "r")
data.close() # A MUST after reading a file!!!
print(data)

<_io.TextIOWrapper name='items.txt' mode='r' encoding='cp1252'>

In [143]:
data = open("items.txt", "r")
print(data.readline())
data.close()

item 1

In [144]:
data = open("items.txt", "r")
print(data.readlines()) # a list of lines
data.close()

['item 1\n', 'item 2\n', 'item 3\n', 'item 4']

In [145]:
data = open("items.txt", "r")
for item in data.readlines():
    print(item)
data.close()

item 1

item 2

item 3

item 4

In [146]:
data = open("items.txt", "r")
list_new = data.readlines()
for item in list_new:
    print(item)
data.close()

item 1

item 2

item 3

item 4

In [ ]:
with open("items.txt", "r") as data: # does not need close()
    list_new = data.readlines()
for item in list_new:
    print(item)

item 1

item 2

item 3

item 4

In [ ]:
with open("items.txt", "a") as data: 
    data.write("\nitem 5") 
    # without \n the string comes after last

In [154]:
with open("items.txt", "w") as data: 
    data.write("\nitem 5") 
    # "w" rewrites the file

In [ ]:
with open("items2.txt", "w") as data: 
    data.write("item 6\nitem 7") 
    # "w" can create a new file

In [ ]:
with open("items3.csv", "w") as data: 
    data.write("item 6\nitem 7") 
    # "w" can create other files: .csv, .html, ...

# Packages:

In [172]:
# install -> pip install package_name

In [174]:
# Python is a modular language using various packages

# built-in packages: without install, just import
# import math
# import os

# not built-in packages: should install first, then import
# import numpy

In [175]:
import math

print(math.pi)

3.141592653589793

In [176]:
print(math.sqrt(81))

9.0

In [177]:
# file path and work with files --> os
import os

path = "C:/Users/Zeinab/Desktop/Python_Project"
filename = "img.png"

print(os.path.join(path, filename))

C:/Users/Zeinab/Desktop/Python_Project\img.png

In [178]:
# packages have differenet versions
# use -> "pip show package_name" to check the version
# use -> "pip uninstall package_name" to delete the version
# use -> "pip install package_name==version" for the version
#         you have in mind

In [179]:
# import cv2
# pip install cv ---> We do not have it!
# use the site "PyPI.org" to ckeck the correct name
# some packages have different names for import and install

In [180]:
# you can build a package yourself:
import my_Package as mp

res = mp.func_add_nums(8,9)
print(res)

17

# Virtual Environment:

In [ ]:
# pip list -> shows all the packages installed on system

# use "venv" for VE --> "python -m venv(inst) path_of_project (fol)"
# use "venv_name\Scripts\activate" -> to activate
# use "pip freeze" to check and 
#     "pip freeze > requirements.txt" to store package versions to a file
# use "deactivate" to exit VE
# use "pip install -r requirements.txt" to transfer packages
#     to another VE

In [ ]:
# in Linux, use "source VE_name\bin\activate"

# Classes and Objects:

In [206]:
class Student:
    def __init__(self, firstname, lastname, year, score): # always written 
        self.firstname = firstname
        self.lastname = lastname
        self.year = year
        self.score = score

    def fullname(self):
        # print(self.firstname + " " + self.lastname)
        result = f"{self.firstname} {self.lastname}"
        return result

In [207]:
# if the class is in another file-> "from file_name import class_name"

In [208]:
student1 = Student("Sara", "Ahmadi", 1399, 19.5) # object
student2 = Student("Amin", "Motamed", 1399, 19.25) # object

In [209]:
print(student1)

<__main__.Student object at 0x00000286AD898D70>

In [210]:
print(student2)

<__main__.Student object at 0x00000286AD610B30>

In [211]:
print(student1.firstname)

Sara

In [212]:
print(student1.score)

19.5

In [213]:
print(student1.fullname())

Sara Ahmadi

# Extra:

In [ ]:
# if __name__  == '__main__':

In [ ]:
print(__name__) # if runs directly, else --> indirect

__main__

In [215]:
if __name__  == '__main__':
    print("Directlly run!")
else:
    print("Indirectlly run!")

Directlly run!

In [ ]:
# try:, except:, else:, finally: --> for errors!

In [2]:
test = input("Enter your age: ")
try:
    print("Your age is", str(int(test)))
except:
    print("Not a Number!")

Not a Number!

In [5]:
test = input("Enter your age: ")
try:
    print("Your age is", str(int(test))) # when there is no error  
except:
    print("Not a Number!")  # when there is an error  
else: 
    print("Thank you!")  # when there is no error  
finally:
    print("Bye")

Your age is 32
Thank you!
Bye

In [ ]:
text = "ksjfiefi"
textfile = "items.txt"
f = open(textfile)
print(f.read())
f.close()

item 1
item 2
item 3
item 4
item 5

In [ ]:
text = "ksjfiefi"
textfile = "iems.txt" # incorrect name
try:
    f = open(textfile)
except:
    print("Incorrect file name!")
else:
    print(f.read())
finally:    
    f.close()

Incorrect file name!

In [ ]:
text = "ksjfiefi"
textfile = "items.txt"
try:
    f = open(textfile)
except FileNotFoundError:
    print("Incorrect file name!")
except ValueError:
    print("File must be integer")
except Exception as e: # everything else
    print(e)
else:
    print(f.read())
finally:    
    f.close()

item 1
item 2
item 3
item 4
item 5